{% extends 'base.html' %}
{% load static %}
{% block title %}Appointment{% endblock %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'css/__appointment.css' %}">
{% endblock %}

{% block content %}
<div class="main-container">
    <div class="search-container">
        <form id="search-form" action="{% url 'doctor_search' %}" method="get">
            <input type="text" id="search-input" name="q" placeholder="Search doctors...">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>

    <div class="doctor-profile-container">
        {% if doctors %}
            {% for doctor in doctors %}
                <div class="doctor-card">
                    <div class="img1">
                        <img src="{% static 'image/'|add:doctor.image.url %}" alt="Doctor Image" class="product-image">
                    </div>
                    <div class="doctor-info">
                        <h1 class="doctor-name">{{ doctor.name }}</h1>
                        <p class="doctor-specialty">{{ doctor.specialty }}</p>
                        <p class="doctor-cost">Payment: {{ doctor.cost }}</p>
                    </div>
                    
                    <div class="appointment-slots">
                        <h2>Appointment Slots</h2>
                        <p><strong>Available spots:</strong> {{ doctor.available_spots }}</p>                       
                        <ul>
                            {% for slot in doctor.doctortimeslot_set.all %}
                                <li>
                                    <strong>Time:</strong> {{ slot.start_time }} - {{ slot.end_time }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                    <div class="action-buttons">
                        {% if doctor.available_spots > 0 and doctor.status %}
                            <a class="create-appointment-button" href="{% url 'create_appointment' doctor.id %}">Create Appointment</a>
                        {% else %}
                            <span class="unavailable">Unavailable</span>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="outside">No doctors found.</p>
        {% endif %}
    </div>

</div>
{% endblock %}