<!-- login.html -->
{% extends 'base.html' %}
{% load static %}

{% block extra-styles %}
<link rel="stylesheet" href="{% static 'css/__login.css' %}" />
{% endblock %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
    <div class="login-container">
        <h2>Login</h2>
        <form method="post" action="{% url 'login' %}">
          {% csrf_token %}
          <div class="form-group">
              <label for="u_name">Username</label>
              <input type="text" name="u_name" id="u_name" class="form-control" required>
          </div>
          <div class="form-group">
              <label for="u_password">Password</label>
              <input type="password" name="u_password" id="u_password" class="form-control" required>
          </div>
          <button type="submit" class="btn-primary">Login</button>
      </form>
      </div>
</div>
{% endblock %}
