@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: 'Mooli', sans-serif;
    background: linear-gradient(147deg, #c3cbdc 0%, #edf1f4 74%);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    }

.topnav {
    position: sticky;
    top: 0;
    background-image: linear-gradient(to right, #008dff, #0076fb, #005df4, #0041ea, #001adb);
    box-shadow: 0 4px 20px rgba(0, 83, 206, 0.4);
    z-index: 999;
}

.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 25px 16px;
    margin: 0px 5px;
    transition: transform 0.3s;
    text-decoration: none;
    
}

.topnav a:hover {
    font-weight: 800;
    background-color: rgba(71, 181, 255, 0.463);
    border-radius: 5px;
    backdrop-filter:blur(10px);
    color: #ffffff;
    transform: scale(1.1);
    overflow: hidden;
}
#user-links {
    float: right;
    margin-right: 20px; /* Adjust the margin as needed for spacing */
}

.user-link {
    color: #ffffff;
    text-align: center;
    padding: 25px 16px;
    margin: 0px 5px;
    transition: transform 0.3s;
    text-decoration: none;
}

.user-link:hover {
    font-weight: 800;
    background-color: rgba(71, 181, 255, 0.463);
    border-radius: 2px;
    backdrop-filter: blur(10px);
    color: #ffffff;
    transform: scale(1.1);
    overflow: hidden;
}
.user-info {
    display: flex;
    align-items: center;
}

.user-info p {
    background-color: rgba(71, 181, 255, 0.463);
    backdrop-filter: blur(10px);
    padding: 15px 22px;
    border-radius: 5px;
    margin-right: 10px;
    color: #fff;
    font-weight: bold;
}
.message-container {
    position: fixed;
    top: 60%; /* Adjust the distance from the top as needed */
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 9999; /* Adjust z-index as needed */
}

.message-container.show {
    opacity: 1;
}

.message {
    font-size: 40px;
    margin: 0;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message div {
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    max-width: 80%;
}

/* Add a new CSS rule to create an overlay for the entire page */
.page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 9998; /* Place it below the message container */
    opacity: 0; /* Initially transparent */
    transition: opacity 1s;
    pointer-events: none; /* Allows interactions with elements behind it */
}

footer {
    color: #fff;
    text-align: center;
    
}

.footer-content {
    background: #111;
    color: #fff;
    padding: 5px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
}
.logo .eseba{
    position: relative;
    top: -25px;
    margin: 0px auto;
    font-size: 70px;
    font-weight: 900;
    color: #1F8ACC;
}

.contact-info {
    text-align: right;
}

.contact-info h3 {
    color: aqua;
    font-size: 18px;
    margin-bottom: 10px;
}

.contact-info ul {
    list-style-type: none;
    padding: 0;
}

.contact-info ul li {
    font-size: 14px;
    margin: 5px 0;
}

.contact-info ul li strong {
    font-weight: bold;
}

.footer-bottom {
    background: #000;
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    margin: 0; 
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 14px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.footer-menu {
    padding: 15px;
    float: right;
}

.footer-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.footer-menu ul li a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.footer-menu ul li a:hover {
    color: aqua;
}

@media (max-width: 500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}
