/* Updated CSS for user_profile.html */
.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    background-image: url('../image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
    background-attachment: fixed;
        
}
.container {
    width: 800px;
    margin: 150px auto;
    padding: 50px 100px;
    position: relative; /* Position relative for button placement */
    vertical-align: top; 
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.355);
    background-color: rgba(139, 199, 255, 0.282);
    backdrop-filter: blur(20px);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    padding: 15px 0px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="number"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Style the Edit button */
button#editButton {
    font-size: 20px;
    background-color: #007BFF;
    color: #fff;
    padding: 16px 32px; /* Larger padding for the Edit button */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    position: relative; /* Position the button absolutely */
    bottom: 20px; /* Adjust the distance from the bottom */
    left: 50%; /* Position the button at the center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}

button#editButton:hover {
    background-color: #0056b3; /* Darken the color on hover */
}

/* Center the form in edit mode */
#editMode {
    text-align: center;
}

button#saveButton {
    background-color: #28a745;
    color: #fff;
    padding: 12px 24px; /* Larger padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
    margin-right: 10px; /* Add some space between Save and Cancel buttons */
}
a{
    color: white;
    text-decoration: none;
}

button#saveButton:hover {
    background-color: #1e7e34; /* Darken the color on hover */
}

/* Style the Cancel button */
button#cancelButton {
    background-color: #dc3545;
    color: #fff;
    padding: 12px 24px; /* Larger padding for buttons */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition */
}

button#cancelButton:hover {
    background-color: #c82333; /* Darken the color on hover */
}
/* Add CSS for the email field */
#id_email {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
