/* Updated CSS for user_profile.html */
.main_container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 80vh;
    background-image: url('../image/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5);
    color: #000000;
    background-attachment: fixed;
}

.container {
    width: 800px;
    margin: 150px auto;
    padding: 50px 100px;
    position: relative;
    vertical-align: top;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.355);
    background-color: rgba(139, 199, 255, 0.282);
    backdrop-filter: blur(20px);
}

h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    padding: 15px 0px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="number"],
input[type="text"],
#id_email {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#id_gender {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    /* Add any additional styles you want */
}
/* Style the Edit and Delete Account buttons */
.button-container {
    font-family: Mooli, sans-serif;
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space buttons evenly */
    margin-bottom: 10px; /* Add some spacing below the buttons */
}

.button-container button {
    font-family: Mooli, sans-serif;
    background-color: #dc3545;
    font-size: 20px;
    color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1; /* Equal width for both buttons */
}

#editButton {
    background-color: #007BFF;
    margin-right: 10px;
    width: 100px; /* Add some spacing between the buttons */
}

.b1:hover {
    background-color: #0056b3; /* Edit button hover color */
}

.b2:hover {
    background-color: #c82333; /* Delete button hover color */
}

/* Center the form in edit mode */
#editMode {
    text-align: center;
}

button#saveButton {
    background-color: #28a745;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

button#saveButton:hover {
    background-color: #1e7e34;
}

/* Style the Cancel button */
button#cancelButton {
    background-color: #dc3545;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#cancelButton:hover {
    background-color: #c82333;
}
