.row-container {
    display: flex;
}
.containerinfo {
    width: 800px;
    min-height: 500px;
    margin: 50px;
    padding: 50px 100px;
    position: relative;
    text-align: left;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.355);
    background-color: rgba(139, 199, 255, 0.282);
    backdrop-filter: blur(20px);
}

.containerapp {
    width: 700px;
    min-height: 100px;
    max-height: 800px;
    margin: 50px;
    padding: 50px 100px;
    text-align: left;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(69, 69, 69, 0.355);
    background-color: rgba(139, 199, 255, 0.282);
    backdrop-filter: blur(20px);
}
h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    padding: 15px 0px;
}

label {
    padding-bottom: 10px;
    font-weight: bold;
    display: block;
}

input[type="number"],
input[type="text"],
#id_email {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
#id_gender {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.button-container {
    font-family: Mooli, sans-serif;
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px; 
}

.button-container button {
    font-family: Mooli, sans-serif;
    background-color: #dc3545;
    font-size: 20px;
    color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 1;
}

#editButton {
    background-color: #007BFF;
    margin-right: 10px;
    width: 100px;
}
#editButton:hover {
    background-color: #0033ff;
    margin-right: 10px;
    width: 100px;
}
.b2:hover {
    background-color: #ba0e20;
}

#saveButton {
    font-family: Mooli, sans-serif;
    background-color: #28a745;
    color: #fff;
    font-size: 20px;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
}

button#saveButton:hover {
    background-color: #1e7e34;
}

button#cancelButton {
    font-family: Mooli, sans-serif;
    background-color: #dc3545;
    color: #fff;
    padding: 12px 24px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button#cancelButton:hover {
    background-color: #c82333;
}
.btn-container {
    font-family: Mooli, sans-serif;
    display: flex;
    justify-content: center; 
    margin-bottom: 10px; 
}
.cancel-appointment {
    font-family: Mooli, sans-serif;
    background-color: #dc3545;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
    margin: 0px 25%;
    width: 225px;
}

.cancel-appointment:hover {
    background-color: #c82333;
}

.appointment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0px 10px 30px;
    margin: 10px 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
}
.info{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px 0px 10px 30px;
    margin: 10px 0 20px;
    background-color: rgba(255, 255, 255, 0.1);
}